.topic-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.topic-layout {
  padding: 20px;
}
.topic-list-row {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  margin-bottom: 30px;
}
.first-topic-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-top: 20px;
  width: 100%;
}
.topic-item {
  background-color: #EFEEF8;
  border-radius: 10px;
  width: 120px;
  min-width: 120px;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  color: #000000;
  font-size: 14px;
  font-weight: 400;
}
.topic-item-selected {
  background-color: #6059E3;
  border-radius: 10px;
  width: 120px;
  min-width: 120px;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 400;
}

.my-course-txt {
  font-size: 16px;
  color: #000000;
  font-weight: 600;
}
.course-icon-next {
  width: 24px;
  height: 24px;
}
.list-course-layout{
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  margin-bottom: 30px;
}
.my-course-item{
  width: 300px;
  min-width: 300px;
  border-radius: 5px;
  background-color: #EFEEF8;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 20px;
  padding: 10px;
}
.my-course-item-left {
  width: 70%;
}
.my-course-item-left-type{
  font-size: 12px;
  color: #9C99C0;
  margin-bottom: 10px;
}
.my-course-item-left-name{
  font-size: 14px;
  color: #19191B;
  margin-bottom: 10px;
}
.my-course-item-left-status{

}
.my-course-item-right{
  width: 25%;
}
.my-course-item-right-icon{

}
.course-topic-title  {
  font-size: 16px;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 20px;
}

.topic-item {
  position: relative;
  margin-bottom: 20px;
}
.topic-img{

}
.topic-name {
  position: absolute;
  bottom: 5px;
  left: 0; 
  right: 0;
  margin-left: auto; 
  margin-right: auto; 
  font-size: 14px;
  color: #FFFFFF;
  width: 100px;
}
.list-first-course-layout{
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  margin-bottom: 30px;
}
.first-course-item{
  width: 200px;
  min-width: 200px;
  border-radius: 5px;
  background-color: #EFEEF8;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 20px;
  padding: 10px;
}
.first-course-item-img {
  
}
.first-course-name{
  font-size: 14px;
  color: #19191B;
  font-weight: 600;
  margin-top: 10px;
}
.first-course-teacher{
  font-size: 12px;
  color: #9C99C0;
  font-weight: 400;
  margin-top: 10px;
}
