.login-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
}
.login-bg{
  position: absolute;
  z-index: -1;
  top: 0;
  width: 100%;
}
.login-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;

}
.login-title {
  font-size: 20px;
  text-align: center;
  width: 90%;
  margin-top: 40px;
}
.login-des {
  font-size: 14px;
  text-align: center;
  width: 90%;
  margin-top: 40px;
}
.login-google-layout {
  height: 40px;
  width: 70%;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid grey;
  margin-top: 40px;
  cursor: pointer;
}
.login-gg-img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.login-gg-txt {
  font-size: 16px;
  color: #6059E3;
}
.login-cancel {
  font-size: 14px;
  color: #4139D3;
  margin-top: 40px;
}