.diaper-type-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.diaper-type-action-row {
  display: flex;
  flex-direction: row;
}
.diaper-type-action-buttons {
  width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.diaper-type-action-search-layout {
  width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 30px;
}
.diaper-type-action-filter {
  width: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 20px;
}
.diaper-type-action-filter-label {
  width: 100px;
  margin-bottom: 10px;
}
