.home-container {
  padding-bottom: 24px;
  .home-line {
    height: 1px;
    background: #efeef8;
    margin: 24px 0px;
  }

  .stautusbar-container {
    height: 60px;
    padding: 14px 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .stautsbar-item {
      display: inline-flex;
      align-items: center;
      gap: 12px;

      .avatar-img {
        width: 32px;
        height: 32px;
        border-radius: 10px;
      }

      .user-name {
        color: #000;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
      }

      .statusbar-icon {
        width: 18px;
        height: 18px;
      }
    }
  }

  .ads-container {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    gap: 10px;

    .ads-item {
      width: 327px;
      height: 120px;
      min-width: 327px;
      border-radius: 10px;
      background-color: #d5d7fc;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 16px;

      .ads-item-left {
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;

        .text-group {
          .title {
            color: #000;
            font-size: 16px;
            line-height: 24px;
            font-style: normal;
            font-weight: 600;
          }

          .detail {
            color: #908bc2;
            font-size: 12px;
            line-height: 18px;
            font-style: normal;
            font-weight: 400;
            max-height: 40px;
            white-space: wrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }

        .ads-item-left-btn {
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }

  .categories-container {
    padding: 0px 24px;
    height: 500px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;

    .categories-item {
      width: 160px;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .item-container {
        padding: 16px;
        padding-bottom: 0px;

        .title {
          color: #000;
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: 24px;
        }
        .describe {
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 21px;
        }
      }
    }

    .categories-item:first-child {
      margin-top: 24px;
      height: 200px;
      background: #f7ceb8;
      .describe {
        color: #c29177;
      }
    }
    .categories-item:nth-child(2) {
      height: 249px;
      background: #fcefd9;
      .describe {
        color: #c8a365;
      }
    }
    .categories-item:nth-child(3) {
      height: 249px;
      background: #f7d7d9;
      .describe {
        color: #cf858a;
      }
    }
    .categories-item:last-child {
      height: 200px;
      margin-bottom: 24px;
      background: #d5d7fc;
    }
  }

  .list-container {
    padding-left: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    .heading {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 24px;
      padding-right: 24px;

      .text {
        color: #000;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
      }
    }

    .events-list {
      display: flex;
      flex-direction: row;
      overflow-x: scroll;
      gap: 16px;

      .card {
        display: flex;
        width: 300px;
        flex-direction: column;
        gap: 8px;

        .cover {
          width: 300px;
          height: 157px;
          border-radius: 10px;
        }

        .content-event {
          .event-name {
            color: #19191b;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: 21px;
          }

          .time-status-event {
            display: flex;
            align-items: center;
            gap: 8px;
            height: 25px;

            .time {
              color: #9c99c0;
              font-size: 12px;
              font-style: normal;
              font-weight: 400;
              line-height: 18px;
            }
            .premium-event {
              display: flex;
              align-items: center;
              justify-content: center;
              padding: 2px 8px;
              width: 62px;
              height: 21px;
              border-radius: 28px;
              background: #6059e3;
              color: #fff;
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 21px;
            }
          }
        }

        .button-footer {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .status-icon-event {
            display: flex;
            gap: 16px;

            .status-item {
              display: flex;
              gap: 5px;
              align-items: center;

              .icon {
                width: 24px;
                height: 24px;
              }

              .info {
                color: #9c99c0;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 18px;
              }
            }
          }
        }
      }
    }

    .book-list {
      display: flex;
      flex-direction: row;
      overflow-x: scroll;
      gap: 16px;

      .card {
        display: flex;
        width: 300px;
        flex-direction: column;
        gap: 8px;
        position: relative;

        .cover {
          width: 136px;
          height: 174px;
          border-radius: 10px;
        }

        .content-book {
          display: flex;
          flex-direction: column;
          gap: 5px;

          .name-book {
            color: #19191b;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: 21px;
          }

          .tacgia {
            overflow: hidden;
            color: #9c99c0;
            text-overflow: ellipsis;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 18px;
          }

          .premium-book {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 2px 8px;
            width: 62px;
            height: 21px;
            border-radius: 28px;
            background: #6059e3;
            color: #fff;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 21px;
          }

          .rate {
            height: 16px;
          }
        }

        .sach-noi {
          position: absolute;
          left: 8px;
          top: 8px;
          display: flex;
          padding: 0px 4px;
          align-items: center;
          border-radius: 34px;
          background: #fff;
          width: fit-content;
          height: 16px;
          gap: 5px;

          .icon {
            width: 16px;
            height: 16px;
          }

          .text {
            color: #000;
            font-size: 10px;
            font-style: normal;
            font-weight: 400;
            line-height: 15px;
          }
        }
      }
    }

    .blog-list {
      display: flex;
      flex-direction: row;
      overflow-x: scroll;
      gap: 16px;

      .blog {
        display: flex;
        width: 184px;
        flex-direction: column;
        gap: 8px;

        .cover {
          width: 184px;
          height: 115px;
          border-radius: 8px;
        }

        .content-blog {
          display: flex;
          flex-direction: column;
          gap: 4px;

          .description {
            color: #19191b;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 21px;
          }

          .date-timeread-content {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            color: #9c99c0;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 18px;
          }
        }
      }
    }
  }

  .question-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0px 24px;

    .heading {
      color: #000;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 24px;
    }

    .question-list {
      display: flex;
      flex-direction: column;
      gap: 8px;

      .question-item {
        padding: 16px;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        background: #efeef8;
        gap: 5px;

        .question-title {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .text {
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: 21px;
          }

          .icon {
            width: 24px;
            height: 24px;
          }
        }

        .answer {
          color: #333;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 21px;
          text-align: justify;
        }
      }
    }

    .contact {
      align-self: center;
    }
  }
}
