.pic-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.pic-action-row {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.pic-action-buttons {
  width: 240px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 50px;
}
.pic-action-search-layout {
  width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 30px;
}
.pic-action-filter {
  width: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 20px;
}
.pic-action-filter-label {
  width: 100px;
  margin-bottom: 10px;
}
.edit-pic-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.form-edit-pic {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}
.form-edit-pic-id {
  width: 100px;
}
.edit-pic-button {
  margin-top: 30px;
}
.ant-input-group-addon {
  border-bottom: 1px solid #0e6fba !important;
  border-left: 1px solid #0e6fba !important;
  border-top: 1px solid #0e6fba !important;
}
