.add-patient-container {
  display: flex;
  width: 180px;
  height: 180px;
  background: #e6e6e6;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  border: 1px solid #545454;
  margin-bottom: 15px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.add-patient-icon {
  width: 60px;
  height: 60px;
}
