.card {
  display: flex;
  width: 300px;
  flex-direction: column;
  gap: 8px;

  .cover {
    width: 300px;
    height: 157px;
    border-radius: 10px;
  }

  .content-event {
    .event-name {
      color: #19191b;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 21px;
    }

    .time-status-event {
      display: flex;
      align-items: center;
      gap: 8px;
      height: 25px;

      .time {
        color: #9c99c0;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
      }
      .premium-event {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2px 8px;
        width: 62px;
        height: 21px;
        border-radius: 28px;
        background: #6059e3;
        color: #fff;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 21px;
      }
    }
  }

  .button-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .status-icon-event {
      display: flex;
      gap: 16px;

      .status-item {
        display: flex;
        gap: 5px;
        align-items: center;

        .icon {
          width: 24px;
          height: 24px;
        }

        .info {
          color: #9c99c0;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: 18px;
        }
      }
    }
  }
}